*{
    font-size: 100%;
    font-family: Arial;
}

body{
    background-color: rgb(211, 230, 215);
   /*background-image: url("/img/1905553-textura-de-papel-verde-escuro-grátis-foto.jpg");
        
    background-attachment: fixed;
    background-size: 100%;*/
}


