.botao {
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
}

.botao--menu {
  text-align: left;
  margin-left: 90px;
  padding: 40px;
  color: #B5EF8A;
} 

.botao--menu:hover, .botao--menu:focus {
  color: #78b43c; 
}

.botao--buscar {
  text-align: right;
  margin-right: 100px;
  padding: 40px;
  color: #B5EF8A; 
}

.botao--buscar:hover, .botao--buscar:focus {
  color: #78b43c;
}

.componentes-logo {    
    margin: auto;
    margin-top: -50px;    
}

.componentes-buscar {
  font-size: 1.8em;
}

.noticia__principal > img {
  width: 600px;
  text-align: center;
}

.noticia__titulo {
  font-size: 20px;
  font-family: Arial;
  color: #B5EF8A;
}

.componentes-redessociais{
  color: #B5EF8A;
}

.componentes-redessociais:hover{
  color: #B5EF8A;
}

#about-area{
  background-color: #B5EF8A;
}

.main__titulo{
  color: #444;
  margin: 40px 0 65px 0;
  font-size: 40px;
  text-align: center;
}
.strong_do_logo{
  color:rgb(147, 204, 213);
}

.main__titulo::after{
  content: "";
  border-top: 2px solid #333;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.pesonalizar_titulo{
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#personalizacao-lista{
  list-style: none;
  padding-left: 0;
}

#personalizacao-lista > li{
  line-height: 25px;
}

#personalizacao-lista > i{
  color: #65DAF9;
  margin-right: 15px;
}

.sobre {
  background: rgb(147, 204, 213) ; 
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noticia-sobre-nos, .localizacao {
  color: #000000;
  background-color: #d0d0d0;
  height: 33rem;
  width: 47.5%;
}

.noticia-sobre-nos {
  padding: 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.noticia-sore-nos > h4 {
  font-size: 1.75rem;
  margin-bottom: 1.75rem;  
}

.texto-sobre {
  font-size: 1.25rem;    
  justify-content: space-between;
}

.localizacao iframe {
  width: 100%; 
  height: 100%;     
}

.sobre-redes {
  gap: 1rem;    
  display: flex;
}

.sobre-redes > a {
  padding: .5rem;
}

.sobre-redes > a > img {
  height: 1.8rem;
  transition: filter .4s;
}

.sobre-redes > a > img:hover {
  filter: invert(65%) sepia(5%) saturate(357%) hue-rotate(47deg) brightness(87%) contrast(86%);
}