*{
    margin: 0;
    font-size: Arial;
    box-sizing: border-box;
}

.layout-principal{
    width: 100%;
    height: 120px;
}

.layout-cabecalho{
   
    border: 0px 0px 3.5px 0px solid #B5EF8A;
    width: 100%;
    height: 85%;
    display: flex;
}   

.navbar--cor{
    background-color: #393D3F;
    margin-bottom: 10px;
}

.nav-link--cor{
   color: #B5EF8A;
}

.nav-link--cor:hover{
    color: #74c735;
}


.nav-link--cor:active{
    color: #393D3F;
}

.layout-caixaNoticia{
    background-color: white;  
}

.carousel-inner--block{
width: 1500px;
height: auto;
margin: 30px auto
}

.carousel-control-prev-icon--setinhae{
    margin-left: 600px;
    color: black
}
.carousel-control-prev-icon--setinhad{
    margin-right: 450px;
}

.noticias-auxiliares{
    margin: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
}

.layout-rodape{
    background-color: #393D3F;
   
}

.layout-final-footer{
    background-color: #33383E;
   
}

.conteudo-final{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}